// 檢視佈局
// * {
//     outline: 1px solid gray;
// }

// navbar的農委會logo
#logo {
    width: 50px;
    height: 50px;
}

// navbar的svg
#navbarNavAltMarkup {
    svg{
        margin-bottom: 5px;
        margin-right: 4px;
    }

    // avoid hover boundary。https://yogeshchauhan.com/how-to-avoid-element-shift-on-border-change-while-hovering-in-css/
    a{
        border-bottom: .25rem solid transparent;
    }

    a:hover{
        border-bottom-color: rgb(216, 218, 219);
    }
}


// show的地址、網址等小圖示
#showSVG {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}

// 幫show地圖撐長寬
// 它在手機版居然會消失...為什麼啊
#map {
    width: 100%;
    height: 60%;
}

// 按鈕hover特效
.btn:hover {
    transform: translateY(-1px);
}

// index頁面設定
#index {
    .btn {
        letter-spacing: 2px;
    }

    .card{
        width: 22%;
        &:hover{
            transform: translateY(-4px);
        }
    }

    .btn:hover {
        transform: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    }
}

@media (max-width: 768px) {

    #index {
        .card{
            width: 90%;
        }
    }
}

.opacity-85 {
    opacity: .85;
}
