<% layout('layouts/boilerplate') %>

    <h1>景點一覽</h1>
    <div class="d-flex flex-wrap d-grid gap-4">
    <% for (let farm of farms) { %>
        <div class="card text-bg-light text-center shadow" style="width: 18rem;">
            <img src="<%= farm.image %>" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
              <h5 class="card-title"><strong><%= farm.title %></strong></h5>
              <p class="card-text text-muted"><%= farm.location %></p>
              <a href="/farms/<%= farm._id %> " class="btn btn-success">查看詳情</a>
            </div>
          </div>
        <% } %>
    </div>