<% layout('layouts/boilerplate') %>

    <h1 class="text-center mb-5">景點一覽</h1>
    <div class="d-flex flex-wrap d-grid gap-5">
    <% for (let farm of farms) { %>
        <div class="card text-bg-light text-center shadow" style="width: 18rem;">
          <div class="card-img-top rounded border border-five" style="background-size: cover; height: 12rem; background-image: url(<%= farm.image %>)"></div>  
            <div class="card-body" id="check">
              <h5 class="card-title"><strong><%= farm.title %></strong></h5>
              <p class="card-text text-muted"><%= farm.location %></p>
              <a href="/farms/<%= farm._id %>" class="btn btn-success opacity-75 fw-bold shadow-sm">查看詳情</a>
            </div>
          </div>
        <% } %>
    </div>