<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-4 offset-4 rounded bg-five bg-opacity-25 p-3">
            <h1 class="text-center text-secondary fw-bold">註冊</h1>
            <hr>
            <form class="py-3" action="/register" method="POST">
                <div class="mb-3 fs-5">
                    <label class="form-label" for="email">電子信箱</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="mb-3 fs-5">
                    <label class="form-label" for="username">使用者名稱</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                </div>
                <div class="mb-3 fs-5">
                    <label class="form-label" for="password">使用者密碼</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <span class="text-muted">已有帳號？ </span><a href="/login" class="text-decoration-ubderline text-muted">點此登入</a>
                <div class="text-center mt-3">
                    <button class="btn btn-success opacity-75 me-2">註冊</button>
                    <a class="btn btn-five" href="javascript:history.go(-1)">取消</a>
                </div>
            </form>
        </div>
    </div>